.card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
  transition: box-shadow 0.3s ease-in-out;
  max-width: fit-content;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 768px) {
  .card {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .card {
    border-radius: 0;
    box-shadow: none;
  }
}