.change-password {
  width: 200px;
  margin-left: 300px;

  .password-card {
    padding: 1rem;
    border: 2px solid red;

    h3 {
      margin-bottom: 1rem;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        transition: border-color 0.3s ease-in-out;

        &:focus {
          outline: none;
          border-color: blue;
        }
      }

      button {
        margin-top: 1rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        background-color: blue;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: darkblue;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;

    .password-card {
      border: none;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);

      form {

        input,
        button {
          width: 100%;
        }
      }
    }
  }
}