.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  .item {
    width: 50%;
    float: left;
    padding: 20px;

    &:nth-child(odd) {
      clear: both;
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    .item {
      width: 100%;
      float: none;
    }
  }
}